<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>931633055841-o45ikh22defjm8fcmh3ogb91e074rebc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.931633055841-o45ikh22defjm8fcmh3ogb91e074rebc</string>
	<key>API_KEY</key>
	<string>AIzaSyDiOeHkplTwuXU1FP7dmvHC6sKHvlH2eBE</string>
	<key>GCM_SENDER_ID</key>
	<string>931633055841</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lingga-kusuma-sakti.MealDB</string>
	<key>PROJECT_ID</key>
	<string>mealdb-7ecc1</string>
	<key>STORAGE_BUCKET</key>
	<string>mealdb-7ecc1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:931633055841:ios:f79f024ecc65ade7f64220</string>
</dict>
</plist>